<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::head_page('Tất cả khách hàng')"></head>

<body>
	<div class="main-wrapper">
		<div th:replace="header::header"></div>
		<div th:replace="sidebar::sidebar"></div>
		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="page-header">
					<div class="row align-items-center">
						<div th:if="${message != null}" class="alert alert-success text-center">
							[[${message}]]
						</div>
						<div class="col">
							<div class="mt-5">
								<h4 class="card-title float-left mt-2">Tất cả khách hàng</h4> <a th:href="@{/khach-hang/them-khach-hang}" class="btn btn-primary float-right veiwbutton">Thêm khách hàng</a> </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<form th:action="@{/khach-hang}">
							<div class="row formtype">
								<div class="col-md-3">
									<div class="form-group">
										<label>Nhập từ khóa</label>
										<input class="form-control" type="search" name="keyword" th:value="${keyword}"> </div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label>Tìm kiếm</label>
										<button type="submit" class="btn btn-success btn-block mt-0 search_button"> Tìm kiếm </button>
									</div>
								</div>
								<div class="col-md-1">
									<label></label>
									<button type="button" class="btn btn-dark mt-2" onclick="clearFilter()">Trở lại</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="card card-table">
							<div class="card-body booking_card">
								<div class="table-responsive">
									<table class="datatable table table-stripped table table-hover table-center mb-0">
										<thead>
											<tr>
												<th>Họ tên</th>
												<th>ID</th>
												<th>Email</th>
												<th>CMT</th>
												<th>Giới tính</th>
												<th>Số điện thoại</th>
												<th>Địa chỉ</th>
												<th class="text-right">Hành động</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="customer: ${customerList}">
												<td>
													[[${customer.fullName}]]
                                                </td>
												<td>[[${customer.id}]]</td>
												<td>[[${customer.email}]]</td>
												<td>[[${customer.identityCard}]]</td>
												<td th:if="${customer.gender == 1}">Nam</td>
												<td th:if="${customer.gender == 2}">Nữ</td>
												<td>[[${customer.phoneNumber}]]</td>
												<td>[[${customer.address}]]</td>
												<td>
													<div class="actions">
														<a th:href="@{'khach-hang/sua/' + ${customer.id}}" class="fas fa-edit fa-2x mr-2" style="color: #00bf6f" title="Sửa thông tin thành viên này"></a>
														<a th:onclick="'fillModal('+ ${customer.id}+ ')'" data-toggle="modal" data-target="#delete_asset" th:accId="${customer.id}" class="fas fa-trash fa-2x mr-2" style="color: #0b2e13" title="Xóa thành viên này"></a>
														<form th:action="@{'khach-hang/xoa/' + ${customer.id} }" th:hidden="true" th:id="'deleteForm' + ${customer.id}"></form>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="delete_asset" class="modal fade delete-modal" role="dialog">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-body text-center"> <img th:src="@{/img/sent.png}" alt="" width="50" height="46">
							<h3 class="delete_class">Bạn chắc chắn muốn xóa?</h3>
							<div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Hủy</a>
								<button href="submit" class="btn btn-danger btnConfirm">Xác nhận</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:replace="fragments::script">
	</th:block>
	<script>
		function clearFilter() {
			window.location = "[[@{/thanh-vien/}]]";
		}

		function fillModal(id) {
			$('.delete_class').text('Bạn chắc chắc muốn xóa khách hàng ' + id)
		}
	</script>
</body>

</html>