<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::head_page('Sona Hotel')">

</head>

<body>
    <div class="app">
        <th:block th:replace="fragments::header"></th:block>

        <!-- Hero Section Begin -->
        <section class="hero-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero-text">
                            <h1>Sona A Luxury Hotel</h1>
                            <p>Dưới đây là các trang web đặt phòng khách sạn tốt nhất, bao gồm các gợi ý về du lịch quốc tế và tìm phòng khách sạn giá rẻ.</p>
                            <a href="#" class="primary-btn">Khám phá ngay</a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                        <div class="booking-form">
                            <h3>Đặt phòng của bạn ngay</h3>
                            <form action="#">
                                <div class="check-date">
                                    <label>Check In:</label>
                                    <input type="date">

                                </div>
                                <div class="check-date">
                                    <label>Check Out:</label>
                                    <input type="date">

                                </div>
                                <div class="select-option">
                                    <label for="guest">Số người:</label>
                                    <select id="guest">
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                        <option value="">5</option>
                                    </select>
                                </div>
                                <button type="submit">Kiểm tra có sẵn</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slider owl-carousel">
                <div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg"></div>
                <div class="hs-item set-bg" data-setbg="img/hero/hero-2.jpg"></div>
                <div class="hs-item set-bg" data-setbg="img/hero/hero-3.jpg"></div>
            </div>
        </section>
        <!-- Hero Section End -->

        <!-- About Us Section Begin -->
        <section class="aboutus-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-text">
                            <div class="section-title">
                                <span>Về chúng tôi</span>
                                <h2>Intercontinental LA <br />Westlake Hotel</h2>
                            </div>
                            <p class="f-para">Sona.com là một trang web lưu trú trực tuyến hàng đầu. Chúng tôi rất đam mê du lịch. Mỗi ngày, chúng tôi truyền cảm hứng và tiếp cận hàng triệu khách du lịch trên 90 trang web địa phương bằng 41 ngôn ngữ.</p>
                            <p class="s-para">Vì vậy, khi nói đến việc đặt khách sạn hoàn hảo, cho thuê kỳ nghỉ, khu nghỉ mát, căn hộ, nhà khách hoặc nhà trên cây, chúng tôi đã giúp bạn.

                            </p>
                            <a href="#" class="primary-btn about-btn">Xem thêm</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-pic">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="img/about/about-1.jpg" alt="">
                                </div>
                                <div class="col-sm-6">
                                    <img src="img/about/about-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Us Section End -->

        <!-- Services Section End -->
        <section class="services-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <span>Dịch vụ</span>
                            <h2>Khám phá những dịch vụ của chúng tôi</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item">
                            <i class="flaticon-036-parking"></i>
                            <h4>Kế hoạch du lịch</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item">
                            <i class="flaticon-033-dinner"></i>
                            <h4>Catering Service</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item">
                            <i class="flaticon-026-bed"></i>
                            <h4>Babysitting</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item">
                            <i class="flaticon-024-towel"></i>
                            <h4>Laundry</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item">
                            <i class="flaticon-044-clock-1"></i>
                            <h4>Hire Driver</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item">
                            <i class="flaticon-012-cocktail"></i>
                            <h4>Bar & Drink</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Section End -->

        <!-- Home Room Section Begin -->
        <section class="hp-room-section">
            <div class="container-fluid">
                <div class="hp-room-items">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="hp-room-item set-bg" data-setbg="img/room/room-b1.jpg">
                                <div class="hr-text">
                                    <h3>Double Room</h3>
                                    <h2>550.000VND<span>/Pernight</span></h2>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td class="r-o">Kích thước:</td>
                                            <td>30</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Số lượng người:</td>
                                            <td>Tối đa 5</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>King Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Tiện nghi:</td>
                                            <td>Wifi, Tivi, Phòng tắm,...</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <a href="/chi-tiet-phong" class="primary-btn">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="hp-room-item set-bg" data-setbg="img/room/room-b2.jpg">
                                <div class="hr-text">
                                    <h3>Premium King Room</h3>
                                    <h2>450.000VND<span>/Pernight</span></h2>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td class="r-o">Kích thước:</td>
                                            <td>22</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Số lượng người:</td>
                                            <td>Tối đa 5</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Giường:</td>
                                            <td>King Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Tiện nghi:</td>
                                            <td>Wifi, Tivi, Phòng tắm,...</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <a href="/chi-tiet-phong" class="primary-btn">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="hp-room-item set-bg" data-setbg="img/room/room-b3.jpg">
                                <div class="hr-text">
                                    <h3>Deluxe Room</h3>
                                    <h2>650.000VND<span>/Pernight</span></h2>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td class="r-o">Kích thước:</td>
                                            <td>30</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Số lượng người:</td>
                                            <td>Tối đa 5</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>King Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Tiện nghi:</td>
                                            <td>Wifi, Tivi, Phòng tắm,...</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <a href="/chi-tiet-phong" class="primary-btn">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="hp-room-item set-bg" data-setbg="img/room/room-b4.jpg">
                                <div class="hr-text">
                                    <h3>Family Room</h3>
                                    <h2>700.000VND<span>/Pernight</span></h2>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td class="r-o">Kích thước:</td>
                                            <td>30</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Số lượng người:</td>
                                            <td>Tối đa 5</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>King Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Tiện nghi:</td>
                                            <td>Wifi, Tivi, Phòng tắm,...</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <a href="/chi-tiet-phong" class="primary-btn">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Home Room Section End -->

        <!--    &lt;!&ndash; Testimonial Section Begin &ndash;&gt;-->
        <!--    <section class="testimonial-section spad">-->
        <!--        <div class="container">-->
        <!--            <div class="row">-->
        <!--                <div class="col-lg-12">-->
        <!--                    <div class="section-title">-->
        <!--                        <span>Testimonials</span>-->
        <!--                        <h2>What Customers Say?</h2>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="row">-->
        <!--                <div class="col-lg-8 offset-lg-2">-->
        <!--                    <div class="testimonial-slider owl-carousel">-->
        <!--                        <div class="ts-item">-->
        <!--                            <p>After a construction project took longer than expected, my husband, my daughter and I-->
        <!--                                needed a place to stay for a few nights. As a Chicago resident, we know a lot about our-->
        <!--                                city, neighborhood and the types of housing options available and absolutely love our-->
        <!--                                vacation at Sona Hotel.</p>-->
        <!--                            <div class="ti-author">-->
        <!--                                <div class="rating">-->
        <!--                                    <i class="icon_star"></i>-->
        <!--                                    <i class="icon_star"></i>-->
        <!--                                    <i class="icon_star"></i>-->
        <!--                                    <i class="icon_star"></i>-->
        <!--                                    <i class="icon_star-half_alt"></i>-->
        <!--                                </div>-->
        <!--                                <h5> - Alexander Vasquez</h5>-->
        <!--                            </div>-->
        <!--                            <img src="img/testimonial-logo.png" alt="">-->
        <!--                        </div>-->
        <!--                        <div class="ts-item">-->
        <!--                            <p>After a construction project took longer than expected, my husband, my daughter and I-->
        <!--                                needed a place to stay for a few nights. As a Chicago resident, we know a lot about our-->
        <!--                                city, neighborhood and the types of housing options available and absolutely love our-->
        <!--                                vacation at Sona Hotel.</p>-->
        <!--                            <div class="ti-author">-->
        <!--                                <div class="rating">-->
        <!--                                    <i class="icon_star"></i>-->
        <!--                                    <i class="icon_star"></i>-->
        <!--                                    <i class="icon_star"></i>-->
        <!--                                    <i class="icon_star"></i>-->
        <!--                                    <i class="icon_star-half_alt"></i>-->
        <!--                                </div>-->
        <!--                                <h5> - Alexander Vasquez</h5>-->
        <!--                            </div>-->
        <!--                            <img src="img/testimonial-logo.png" alt="">-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </section>-->
        <!--    &lt;!&ndash; Testimonial Section End &ndash;&gt;-->

        <!-- Blog Section Begin -->
        <section class="blog-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <span>Tin tức</span>
                            <h2>Blog và sự kiện</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="blog-item set-bg" data-setbg="img/blog/blog-1.jpg">
                            <div class="bi-text">
                                <span class="b-tag">Chuyến du lịch</span>
                                <h4><a href="#">Tremblant In Canada</a></h4>
                                <div class="b-time"><i class="icon_clock_alt"></i> 15 tg.8, 2022</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-item set-bg" data-setbg="img/blog/blog-2.jpg">
                            <div class="bi-text">
                                <span class="b-tag">Cắm trại</span>
                                <h4><a href="#">Chọn một địa điểm động tĩnh</a></h4>
                                <div class="b-time"><i class="icon_clock_alt"></i> 31 tg.7, 2022</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-item set-bg" data-setbg="img/blog/blog-3.jpg">
                            <div class="bi-text">
                                <span class="b-tag">Sự kiện</span>
                                <h4><a href="#">Copper Canyon</a></h4>
                                <div class="b-time"><i class="icon_clock_alt"></i> 21 tg.7, 2022</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="blog-item small-Kích thước set-bg" data-setbg="img/blog/blog-wide.jpg">
                            <div class="bi-text">
                                <span class="b-tag">Sự kiện</span>
                                <h4><a href="#">Chuyến đi đến Sầm Sơn ở Thanh Hóa, một địa điểm ở miền Trung của Việt Nam</a></h4>
                                <div class="b-time"><i class="icon_clock_alt"></i> 21 tg.7, 2022</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-item small-Kích thước set-bg" data-setbg="img/blog/blog-10.jpg">
                            <div class="bi-text">
                                <span class="b-tag">Đi du lịch</span>
                                <h4><a href="#">Đến Barcelona</a></h4>
                                <div class="b-time"><i class="icon_clock_alt"></i> 10 tg.7, 2022</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Section End -->

        <!-- Footer Section Begin -->
        <footer th:replace="fragments::footer"></footer>
        <!-- Footer Section End -->

        <!-- Search model Begin -->
        <div class="search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch"><i class="icon_close"></i></div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Search here.....">
                </form>
            </div>
        </div>
        <!-- Search model end -->
        <img src="/img/Circle-icons-chat.svg.png" alt="" class="icon-chat-bot" id="btnOpenChatBot">
        <div class="chat-bot" id="chat-bot">

            <span class="close">&times;</span>
            <iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/96308c8a-a8c1-459b-b91c-abea5b320006"></iframe>
        </div>
    </div>

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

    <script src="/js/sockjs.min.js"></script>
    <script src="/js/stomp.min.js"></script>
</body>

</html>