<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::head_page('Sona Hotel')">

</head>

<body>
    <th:block th:replace="fragments::header"></th:block>

    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Our Rooms</h2>
                        <div class="bt-option">
                            <a href="/home">Trang chủ</a>
                            <span>Phòng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Rooms Section Begin -->
    <section class="rooms-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="img/room/room-1.jpg" alt="">
                        <div class="ri-text">
                            <h4>Premium King Room</h4>
                            <h3>400.000VND<span>/Pernight</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Kích thước:</td>
                                        <td>22</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Số lượng người:</td>
                                        <td>Tối đa 3</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Giường:</td>
                                        <td>King Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Tiện nghi:</td>
                                        <td>Wifi, Tivi, Phòng tắm,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="/chi-tiet-phong" class="primary-btn">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="img/room/room-2.jpg" alt="">
                        <div class="ri-text">
                            <h4>Deluxe Room</h4>
                            <h3>600.000VND<span>/Pernight</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Kích thước:</td>
                                        <td>26</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Số lượng người:</td>
                                        <td>Tối đa 5</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Giường:</td>
                                        <td>King Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Tiện nghi:</td>
                                        <td>Wifi, Tivi, Bathroom, Quán bar...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="/chi-tiet-phong" class="primary-btn">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="img/room/room-3.jpg" alt="">
                        <div class="ri-text">
                            <h4>Double Room</h4>
                            <h3>650.000VND<span>/Pernight</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Kích thước:</td>
                                        <td>35</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Số người:</td>
                                        <td>Tối đa 6</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Giường:</td>
                                        <td>King Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Tiện nghi:</td>
                                        <td>Wifi, Television, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="/chi-tiet-phong" class="primary-btn">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="img/room/room-4.jpg" alt="">
                        <div class="ri-text">
                            <h4>Luxury Room</h4>
                            <h3>1.100.000VND<span>/Pernight</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Kích thước:</td>
                                        <td>40</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Số lượng người:</td>
                                        <td>Tối đa 2</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Giường:</td>
                                        <td>King Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Tiện nghi:</td>
                                        <td>Wifi, Tivi, Phòng tắm,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="/chi-tiet-phong" class="primary-btn">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="img/room/room-5.jpg" alt="">
                        <div class="ri-text">
                            <h4>Room With View</h4>
                            <h3>700.000VND<span>/Pernight</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Kích thước:</td>
                                        <td>33</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Số lượng người:</td>
                                        <td>Tối đa 1</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Giường:</td>
                                        <td>King Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Tiện nghi:</td>
                                        <td>Wifi, Tivi, Phòng tắm,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="/chi-tiet-phong" class="primary-btn">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="img/room/room-6.jpg" alt="">
                        <div class="ri-text">
                            <h4>Small View</h4>
                            <h3>450.000VND<span>/Pernight</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Kích thước:</td>
                                        <td>28</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Số lượng người:</td>
                                        <td>Tối đa 2</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Giường:</td>
                                        <td>King Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Tiện nghi:</td>
                                        <td>Wifi, Tivi, Phòng tắm,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="/chi-tiet-phong" class="primary-btn">Xem thêm</a>
                        </div>
                    </div>
                </div>
<!--                <div class="col-lg-12">-->
<!--                    <div class="room-pagination">-->
<!--                        <a href="#">1</a>-->
<!--                        <a href="#">2</a>-->
<!--                        <a href="#">Next <i class="fa fa-long-arrow-right"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </section>
    <!-- Rooms Section End -->

    <!-- Footer Section Begin -->
    <footer th:replace="fragments::footer"></footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>