<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::head_page('Tất cả các phòng')"></head>

<body>
	<div class="main-wrapper">
		<div th:replace="header::header"></div>
		<div th:replace="sidebar::sidebar"></div>
		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="page-title mt-5" th:text="${pageTitle}"></h3> </div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<form th:action="@{/room/save}" method="post" th:object="${room}">
							<div class="row formtype">
								<input type="hidden" th:field="*{id}">
								<div class="col-md-4">
									<div class="form-group">
										<label>Loại phòng</label>
										<select class="form-control" th:field="*{roomCategory}">
											<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Tầng</label>
										<select class="form-control" th:field="*{floor}">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Cho sử dụng/Không cho sử dụng</label>
										<select class="form-control" th:field="*{active}">
											<option value="true">Cho sử dụng</option>
											<option value="false">Không cho sử dụng</option>
										</select>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Trạng thái</label>
										<select class="form-control" th:field="*{status}">
											<option value="1">Sẵn sàng</option>
											<option value="3">Đang sửa chữa</option>
										</select>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Ghi chú</label>
										<textarea class="form-control" rows="5" th:field="*{note}"></textarea>
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-primary buttonedit ml-2">Lưu</button>
							<button type="button" class="btn btn-primary buttonedit" id="btnCancel">Hủy bỏ</button>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
	<th:block th:replace="fragments::script">

	</th:block>
<script>
	$("#btnCancel").on("click", function () {
		window.location = "[[@{/room}]]";
	});
</script>
</body>

</html>